.animation-unit {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  flex: 1fr 1fr;
  align-items: center;
  /* align-content: space-evenly; */
  align-self: center;
  /* justify-content: space-between; */
  column-gap: 20px;
  background: -webkit-linear-gradient(245deg, #05c3ff 0, #151515 40%);
  
  .animation-right img {
    width: 80%;
    padding-right: 40px;
  }
  .animation-left {
    width: 80%;
    padding-left: 40px;
    h1 {
      font-family: iransans;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 15px;
      color: #fff;
    }
    h5 {
      font-family: iransans;
      font-weight: 100;
      font-size: 13px;
      line-height: 25px;
      text-align: right;
      color: #d8d8d8;
      margin-bottom: 15px;
    }
  }
  button {
    background-color:#ededed;
    color: #2b2b2b;
    cursor: pointer;
    padding: 5px;
    /* border-radius: 8px; */
    
    &:hover {
      background-color: #d6d6d6;
      cursor: pointer;
    }

    h6 {
      margin: 0;
      padding: 10px 5px;
      text-align: center;
      font-family: iransans;
      font-weight: 400;
      font-size: 11px;
      line-height: 14px;
      color:#2b2b2b;
    }
}
}