* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapper {
    width: 100%;
    background-color: #2b2b2b;
    
  }
  
  
  @font-face {
    font-family: iransans;
    src: url("../../../fonts/IRANSans-Medium-web.woff2");
    src: url("../../../fonts/IRANSans-web.woff2");
  }
  
  /* @font-face {
    font-family: bangers;
    src: url("../../fonts/Bangers-Regular.eot");
    src: url("../../fonts/Bangers-Regular.ttf");
    src: url("../../fonts/Bangers-Regular.woff");
    src: url("../../fonts/Bangers-Regular.woff2");
  } */
  .wrapper {
    width: 100%;
  }
  
  .container {
    width: 1150px;
  }